@font-face {
  font-family: 'Digital-7 Mono';
  src: url('fonts/digital7mono.ttf') format('truetype');
}

sup {
  font-size: 30px;
  margin-bottom: 20px;
}

.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 100wh;
}

.calc {
  display: grid;
  grid-template-rows: [screen] 100px repeat(5, 80px [row]);
  grid-template-columns: repeat(4, 80px [col]);
}

.screen {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  border: 1px solid hsl(220, 0%, 60%);
  border-radius: 4px;
  margin: 4px;
}

.display-value {
  font-family: 'Digital-7 Mono';
  font-size: 80px;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 20%);
  font-size: 40px;
  background-color: hsl(220, 9%, 87%);
  border: 1px solid hsl(220, 9%, 87%);
  border-radius: 4px;
  margin: 4px;
}

.btn-num {
  background-color: hsl(200, 12%, 95%);
  border: 1px solid hsl(200, 12%, 95%);
}

.btn-equals {
  background-color: hsl(24, 100%, 70%);
  border: 1px solid hsl(24, 100%, 70%);
}

.btn:active {
  box-shadow: 0 1px 6px hsla(225, 6%, 13%, 0.28);
}
